<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126076403472-9f9kq1n58ho8fk56phqrhfm7k337a975.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126076403472-9f9kq1n58ho8fk56phqrhfm7k337a975</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>126076403472-9dh6uf2hpn73dn1crroom026v1jiv8hb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCy6uIMUeyQa0ba4E2AF6RSuQ51aT7aOe4</string>
	<key>GCM_SENDER_ID</key>
	<string>126076403472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.financeflow</string>
	<key>PROJECT_ID</key>
	<string>financeflow-2d98f</string>
	<key>STORAGE_BUCKET</key>
	<string>financeflow-2d98f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126076403472:ios:f3e434f697e829cdfc6f95</string>
</dict>
</plist>